html 
  head 
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Brugtmoms
  body
    .border 
      .top_border 
        .title 
          |Brugtmoms
        .period
          |Periode: dato der passe til den valgte periode
        .period_button
          input(type='button', name='period_button', value='Gemte perioder')
        .choose_date
          label Vælg Periode: 
          label Fra: 
          input(type="date", name="from_date",)
          label Til:
          input(type="date", name="to_date",)
          input(type='button', name='save_period', value='Gem Periode')
      .table 
        table(style='width:100%;', border='1')
          tr 
            th Id
            th Navn
            th Indkøbspris 
            th Salgspris 
            th Dato for salg 
            th Brugtmoms 
            th Salgsland
            th 
          each p in products
            tr
              td=  p.id
              td=  p.title
              td=  p.buyPrice
              td=  p.salesPrice
              td=  new Date(p.createdAt)
              td=  p.vat
              td=  p.country
              td(style='width:20px')
                input(type='checkbox', name='table_checkbox')
     
      .bottom_border
        .export_button      
            input(type='button', name='export-excel', value='Exporter hele periode til excel',style='width:250px; height:40px; font-weight: bold;')
            input(type='button', name='export-marked-excel', value='Exporter markerede varer til excel',style='width:250px; height:40px; margin-top:3px; font-weight: bold;')  
        .vat_value
          .vat_label 
            .vat_marked_overall
              p Markeret Brugtmoms
              .vat_marked 0
            .vat_all_overall 
              p Samlet Brugtmoms
              .vat_all= totalVat